@model Stroopwafels.Models.OrderDetailsViewModel
@{
    ViewBag.Title = "Stroopwafels bestellen";
}

<div class="jumbotron">
    <h1>Stroopwafels bestellen</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("GetQuotes", "Stroopwafel", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <h2>Bestelling</h2>

          @*  <p>
                <div>
                    <div class="row">
                        <div class="col-1 font-weight-bold">@Html.Label("Full Name")</div>
                        <div class="col-3">@Html.TextBoxFor(m=>m.FullName)</div>
                    </div>

                    <div class="row">


                        <span class="col-1 font-weight-bold">@Html.Label("Wish Date")</span>
                        <span class="col-md-3">
                            @Html.TextBoxFor(model => model.WishDate, new { @type="date", @class = "form-control datepicker",  @Value = Model.WishDate.ToString("yyyy-MM-dd") } )
                            @Html.ValidationMessageFor(model => model.WishDate, "", new { @class = "text-danger" })
                        </span>


                    </div>
                </div>
            </p>*@
            <p>
                Voer hier uw bestelling in:

                @for (var index = 0; index < Model.OrderRows.Count; index++)

                {
                    @Html.HiddenFor(m => Model.OrderRows[index].Type)
                    <div class="row">
                        <div class="col-1 font-weight-bold">@Html.Label(Model.OrderRows[index].DisplayName)</div>
                        <div class="col-1">@Html.TextBoxFor(m => Model.OrderRows[index].Amount)</div>
                    </div>
                }
            </p>
            <p>
                <input class="btn btn-outline-secondary" type="submit" value="Prijzen ophalen" />
            </p>
        }
    </div>
</div>
